#para1 {
    padding-left: 10px;
    border-style:ridge;
    border-width: 50px;
    border-color: crimson;
    height: 200px;
    width: 560px;
    
}

#para2 {
    padding-left: 10px;
    border-style:ridge;
    border-width: 50px;
    border-color: skyblue;
    height: 200px;
    width: 560px;
    margin-left: 670px;
}
#para3 {
    padding-left: 10px;
    border-style:ridge;
    border-width: 50px;
    border-color:chartreuse;
    height: 200px;
    width: 560px;
    margin-left: 1340px;
}
#para4 {
    padding-left: 10px;
    border-style:ridge;
    border-width: 50px;
    border-color:indigo;
    height: 200px;
    width: 560px;
    margin-left:  2010px;
}