p {
    font-family: 'Staatliches', serif;
    width: 350px;
    position: absolute;
    border-color: blue;
    border-top: ridge;
    border-bottom: ridge;
    border-width: 6px;
    
}

#para1 {
    
    text-transform: lowercase;
    line-height: 30px;
    position: absolute;
    display:inline-block;
    text-align: center;
    letter-spacing: 2px;
    border-color: blue;
    border-bottom: blue;
    border-right: blue;
}


#para2 {
    margin-left: 297px;
    text-transform: lowercase;
    line-height: 30px;
    position: absolute;
    display:inline-block;
    text-align: center;
    letter-spacing: 2px;
    border-bottom: blue;
    border-color: blue;
    
    
}

#para3 {
    margin-left: 610px;
    text-transform: lowercase;
    line-height: 30px;
    position: absolute;
    display:inline-block;
    text-align: center;
    letter-spacing: 2px;
    border-color: blue;
    border-bottom: blue;
}

#para4 {
    text-transform: lowercase;
    line-height: 30px;
    position: absolute;
    display:inline-block;
    text-align: center;
    letter-spacing: 2px;
    margin-left: 901px;
    border-right: ridge;
    border-color: blue;
    border-bottom: blue;
}

#para5 {
    text-transform: lowercase;
    line-height: 30px;
    position: absolute;
    display:inline-block;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 166px;
    border-left: ridge; 
    border-color: blue;
    
   
}


#para6 {
    margin-left: 297px;
    text-transform: lowercase;
    line-height: 30px;
    position: absolute;
    display:inline-block;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 166px;
    border-color: blue;
    
    
}

#para7 {
    margin-left: 610px;
    text-transform: lowercase;
    line-height: 30px;
    position: absolute;
    display:inline-block;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 166px;
    border-color: blue;
    
}

#para8 {
    text-transform: lowercase;
    line-height: 30px;
    position: absolute;
    display:inline-block;
    text-align: center;
    letter-spacing: 2px;
    margin-left: 901px;
    border-color: blue;
    margin-top: 166px;
    
}

#para9 {
    text-transform: lowercase;
    line-height: 30px;
    position: absolute;
    display:inline-block;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 320px;
    border-color: blue;
    
}


#para10 {
    margin-left: 297px;
    text-transform: lowercase;
    line-height: 30px;
    position: absolute;
    display:inline-block;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 320px;
    border-color: blue;
    
    
}

#para11 {
    margin-left: 610px;
    text-transform: lowercase;
    line-height: 30px;
    position: absolute;
    display:inline-block;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 320px;
    border-color: blue;
    
    
}

#para12 {
    text-transform: lowercase;
    line-height: 30px;
    position: absolute;
    display:inline-block;
    text-align: center;
    letter-spacing: 2px;
    margin-left: 901px; 
    
    margin-top: 320px;
    
    border-right: ridge;
    border-color: blue;
}

