#para1 {
    position: absolute;
    text-align: right;
    letter-spacing: 30px;
    color: seagreen;
}

#para2 {
   color: blue;
    position: absolute;
    text-align: right;
    letter-spacing: 60px;
}


#para3 {
    
    position: absolute;
    text-align: right;
    letter-spacing: 40px;
    color: yellow;
}


#para4 {
    
    position: absolute;
    text-align: right;
    letter-spacing: 50px;
    color: red;
}



