body{
    background-color: black;
}
#heading {
    position: static;
    font-family: 'Staatliches', serif;
    font-size: 100px;
    padding-top: 0px;
    color: white;
    text-align: center;
    background-color: black;
}

#author {
    position: static;
    font-family: 'Supermercado One', serif;
    color: white;
    text-align: center;
    font-size: 70px;
    background-color: black;
}

.phase {
    color: black;
    font-size: 50px;
    width: 180px;
    height: 180px;
    border: red;
    border-radius: 50%;
    font-family: 'Staatliches', serif;
    background-color:red;
    display: inline-block;
    text-align: center;
    line-height: 170px;
    
}

  iframe{
      background-color: white;
      width: 100%;
      height: 400px;
      text-align: center;
}

.button {
    background-color: whitesmoke;
    padding: 2¬ø0px;
    border-radius: 20%;
    font-family: 'Staatliches', serif;
    width: 100px;
    font-size: 20px;
    
}

.button:hover {
    background-color:red;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  